body{
  background-color: #f4f4f4;
  color: #555;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

input:focus{
  outline: none;
}

.container{
  width: 95%;
  margin: auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 100px;
  background-color: #032541;
  color: #67C6B4;
}

.main-header .title{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-header h1{
  letter-spacing: 0.1em;
}

.main-header ul{
  display: flex;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.main-header li{
  list-style: none;
  padding: 10px;
}

.showcase {
  background: linear-gradient(rgba(85, 65, 65, 0.5), rgba(0, 0, 0, 0.5)), url("./images/banner3.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 350px;
  /* margin: 0 30px; */
  padding: 20px;
  color: #fff;
  letter-spacing: 0.1em;
}

.showcase h1{
  font-size: 45px;
  padding-top: 60px;
  font-weight: 800;
  line-height: 0em;
}

.showcase p{
  font-size: 28px;
  line-height: 0.1em;
  font-weight: 700;
}

.showcase input[type="text"]{
  width: 100%;
  margin: 40px auto;
  font-size: 20px;
  padding: 15px;
  border-radius: 40px;
}

.movies {
  margin: 50px 0;
}

.movies .column {
  padding: 20px 50px;
}

.movies .column .header {
  display: flex;
}

.movies .column .header ul {
  display: flex;
  padding: 0;
  background-color: #ccc;
  border-radius: 20px;
  margin-left: 20px;
}

.movies .column .header li {
  padding: 5px 15px;
  list-style: none;
}


.movies .movie-list{
  font-size: 15px;
  display: flex;
  overflow-x: scroll;
}

.movies .movie-content{
  color: #000;
  margin-left: 20px;
  
}

.movies .movie-content img{
  border-radius: 10px;
  width: 150px;
}

.movies .movie-content p{
  line-height: 0em;
  color: #ccc;
}


.odd {
  background-image: url('./images/bar.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  /* background-size: cover; */
}